@use '_functions' as *;
@mixin hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  overflow: hidden;
}
@mixin text-ellipsis($lines: 1, $lineHeight: rem(20px)) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if $lines == 1 {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    max-height: calc($lineHeight * $lines);
  }
}
@mixin get-background-svg($type, $color) {
  $svg: map-get(icon-map(), $type);
  $svg: str-replace($svg, '#', '%23');
  $svg: str-replace($svg, '<', '%3C');
  $svg: str-replace($svg, '>', '%3E');
  $svg: str-replace($svg, '"', '%22');
  $svg: str-replace($svg, ' ', '%20');
  $svg-url: url("data:image/svg+xml;utf8,#{$svg}");
  background-color: $color;
  mask: $svg-url no-repeat center / contain;
  -webkit-mask: $svg-url no-repeat center / contain;
}

@mixin font($s) {
  font-weight: 400;
  @if $s == 'H1' {
    font-size: rem(48px);
    line-height: 120%;
    letter-spacing: 0%;
  } @else if $s == 'H2' {
    font-size: rem(40px);
    line-height: 120%;
    letter-spacing: 0%;
  }@else if $s == 'H3' {
    font-size: rem(36px);
    line-height: 120%;
    letter-spacing: 0%;
  }@else if $s == 'H4' {
    font-size: rem(30px);
    line-height: 120%;
    letter-spacing: 0%;
  }@else if $s == 'H5' {
    font-size: rem(24px);
    line-height: 120%;
    letter-spacing: 0%;
  }@else if $s == 'H6' {
    font-size: rem(20px);
    line-height: 120%;
    letter-spacing: 0%;
  }@else if $s == 'Body 36 R' {
    font-size: rem(36px);
    line-height: 140%;
    letter-spacing: 0%;
  }@else if $s == 'Body 30 R' {
    font-size: rem(30px);
    line-height: 140%;
    letter-spacing: 0%;
  }@else if $s == 'Body 24 R' {
    font-size: rem(24px);
    line-height: 140%;
    letter-spacing: 0%;
  }@else if $s == 'Body 22 R' {
    font-size: rem(22px);
    line-height: 140%;
    letter-spacing: 0%;
  }@else if $s == 'Body 20 R' {
    font-size: rem(20px);
    line-height: 140%;
    letter-spacing: 0%;
  }@else if $s == 'Body 18 R' {
    font-size: rem(18px);
    line-height: 140%;
    letter-spacing: 0%;
  }@else if $s == 'Body 16 R' {
    font-size: rem(16px);
    line-height: 140%;
    letter-spacing: 0%;
  }@else if $s == 'Body 15 R' {
    font-size: rem(15px);
    line-height: 140%;
    letter-spacing: 0%;
  }@else if $s == 'Body 14 R' {
    font-size: rem(14px);
    line-height: 140%;
    letter-spacing: 0%;
  }
}