$sub-font-color: var(--sub-font-color);
$font-color: var(--font-color);
$footer-bg: var(--footer-bg);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$third-color: var(--third-color);
$point-color: var(--point-color);
$th-color: var(--th-color);
$border-color: var(--border-color);
$box-color: var(--box-color);
$accent-color-1: var(--accent-color-1);
$accent-color-2: var(--accent-color-2);
$accent-color-3: var(--accent-color-3);
$accent-color-4: var(--accent-color-4);
$alert-color-1: var(--alert-color-1);
$alert-color-2: var(--alert-color-2);
$color-black-100: var(--color-black-100);
$color-black-90: var(--color-black-90);
$color-black-80: var(--color-black-80);
$color-black-70: var(--color-black-70);
$color-black-60: var(--color-black-60);
$color-black-50: var(--color-black-50);
$color-black-40: var(--color-black-40);
$color-black-30: var(--color-black-30);
$color-black-20: var(--color-black-20);
$color-black-10: var(--color-black-10);
$color-black-5: var(--color-black-5);
$color-black-3: var(--color-black-3);
$color-black-1: var(--color-black-1);
$color-white: var(--color-white);
$color-primary-100: var(--color-primary-100);
$color-primary-80: var(--color-primary-80);
$color-primary-50: var(--color-primary-50);
$color-primary-30: var(--color-primary-30);
$color-primary-10: var(--color-primary-10);
$color-secondary-100: var(--color-secondary-100);
$color-secondary-80: var(--color-secondary-80);
$color-secondary-50: var(--color-secondary-50);
$color-secondary-30: var(--color-secondary-30);
$color-secondary-10: var(--color-secondary-10);
$spacing-left: 15px;
$spacing-right: 15px;
$base-font-size:10px;
$innerWrap: calc(1760px + $spacing-left + $spacing-right);
$breakpoint-sm: 480px;
//$breakpoint-md: 1024px;
$breakpoint-md: 1300px;
$breakpoint-lg: $innerWrap;
$breakpoint-xlg: 1920px;
$box-shadow: 0px 4px 15px 0px #0000000F;