@charset 'utf-8';
@use '../abstracts/variables' as *;
@use '../abstracts/_functions' as *;
@use '../abstracts/_mixins' as *;


$USE_BACKGROUND : 'use-background';
$USE_SLOTFOOT : 'use-slotfoot';

.bs-box{
    padding: rem(36px);
    border: rem(1px) solid color('Color/Box/Border color');
    border-radius: rem(24px);
    &.#{$USE_BACKGROUND}{
        background-color: color('Color/Box/Box BG');
        border-color: color('Color/Box/Box BG');
    }
    &.#{$USE_SLOTFOOT}{
        position: relative;
        padding-bottom: rem(105px);
    }
    .b-inner{}
    .bt-tags-group{
        margin: rem(20px) 0;
        padding: 0 rem(20px);
        padding-bottom: rem(45px);
        gap: rem(5px);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        .b-tags{
            @include font('Body 18 R');
            text-align: left;
            color: color('Color/Font/Font Color');
        }
    }
    .bsb-icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: rem(100px);
        height: rem(100px);
        border-radius: 50%;
    }
    .bs-gl-content{
        @include font('Body 16 R');
        color: color('Color/Font/Font Color');
        text-align: center;
    }
    .bs-box-title-case-1,
    .bs-box-title-case-2{
        text-align: center;
        .bsb-icon{
            margin-bottom: rem(20px);
        }
        .bsb-label{
            margin-bottom: rem(20px);
        }
        .bsb-title{
            @include font('Body 24 R');
            color: color('Color/Font/Font Color');
            margin-bottom: rem(20px);
        }
    }
    .bs-box-title-case-5{
        text-align: center;
        .bsb-icon{
            margin-bottom: rem(20px);
        }
        .bsb-title{
            @include font('Body 30 R');
            color: color('Color/Font/Font Color');
            margin-bottom: rem(20px);
        }
        .bsb-description{
            @include font('Body 18 R');
            color: color('Color/Font/Font Color');
            margin-bottom: rem(20px);
        }
    }
    .bs-box-title-case-3{
        margin-bottom: rem(20px);
        .bbtc3-inner{
            width: 100%;
            padding-bottom: rem(20px);
            border-bottom: rem(1px) solid color('Color/Primary Color');
            display: flex;
            align-items: center;
            gap: rem(12px);
        }
        .bsb-icon{
            margin-left: 0;
            margin-right: 0;
        }
        .bsb-title{
            text-align: left;
            width: calc(100% - rem(100px) - rem(12px));
            word-break: break-all;
            @include font('Body 30 R');
            color: color('Color/Secondary Color');
        }
    }
    .bs-box-title-case-4{
        margin-bottom: rem(20px);
        .bbtc4-inner{
            border-bottom: rem(1px) solid color('Color/Primary Color');
        }
        .bsb-label{
            text-align: left;
            margin-bottom: rem(12px);
        }
        .bsb-title-wrap{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            padding-bottom: rem(20px);
        }
        .bsb-title-pref{
            width: fit-content;
            white-space: nowrap;
            @include font('Body 18 R');
            color: color('Color/Black 100');
        }
        .bsb-title{
            @include font('Body 30 R');
            color: color('Color/Black 100');
        }
    }
    .bs-gl-bottom{
        position: absolute;
        width: 100%;
        padding: rem(36px);
        padding-top: 0;
        left: 0;
        bottom: 0;
    }
}


@media only screen and (max-width: $breakpoint-md){
.bs-box{
    padding: rem(36px);
    .bs-box-title-case-4{
        .bsb-title-wrap{
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            .bsb-title-pref{
                margin-left: auto;
            }
        }
    }
}
}
