@charset 'utf-8';
@use '../abstracts/variables' as *;
@use '../abstracts/_functions' as *;
@use '../abstracts/_mixins' as *;

$USE_BLOCK: 'use-block';
$SIZE_SM: '[data-size="sm"]';
$SIZE_MD: '[data-size="md"]';
$SIZE_LG: '[data-size="lg"]';
$VARIANT_DEFAULT: '[data-variant="default"]';
$VARIANT_WHITE: '[data-variant="white"]';
$VARIANT_PRIMARY: '[data-variant="primary"]';
$ICON_COPY: '[data-type="copy"]';
$ICON_BLANK: '[data-type="blank"]';
$ICON_PLUS: '[data-type="plus"]';
$ICON_TOGGLE: '[data-type="toggle"]';
$ICON_NEXT: '[data-type="next"]';
$ICON_DOWNLOAD: '[data-type="download"]';

.bs-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: rem(1px) solid transparent;
    &:disabled{
        cursor: auto;
    }
    &.#{$USE_BLOCK}{
        width: 100%;
    }
    .b-tx{
        display: block;
    }
    .bs-inner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(4px);
    }
    .b-suff{
        display: block;
        width: rem(20px);
        height: rem(20px);
    }
    &#{$SIZE_MD}{
        border-radius: rem(49px);
        padding: rem(12px) rem(24px);
        height: rem(49px);
        .b-tx{
            @include font('Body 18 R');
        }
    }
    &#{$SIZE_SM}{
        border-radius: rem(46px);
        padding: rem(12px) rem(24px);
        height: rem(46px);
        .b-tx{
            @include font('Body 16 R');
        }
    }
    &#{$SIZE_LG}{
        border-radius: rem(59px);
        height: rem(59px);
        .b-tx{
            @include font('Body 18 R');
        }
    }
    &#{$VARIANT_DEFAULT}{
        background-color: color('Color/Black1');
        border-color: color('Color/Black 20');
        &:disabled{
            .b-tx{
                color: color('Color/Black 20');
            }
        }
        .b-tx{
            color: color('Color/Black 100');
        }
        .b-suff{
            &#{$ICON_COPY}{width: rem(18px);height: rem(18px);@include get-background-svg(icon_copy, color('Color/Black 20'));}
            &#{$ICON_PLUS}{@include get-background-svg(icon_plus, color('Color/Black 20'));}
            &#{$ICON_BLANK}{width: rem(20px);height: rem(20px);@include get-background-svg(icon_blank, color('Color/Black 20'));}
        }
        &:not(:disabled):hover{
            background-color: color('Color/Primary Color');
            border-color: color('Color/Primary Color');
            .b-tx{
                color: color('Color/White');
            }
            .b-suff{
                &#{$ICON_COPY}{@include get-background-svg(icon_copy, color('Color/White'));}
                &#{$ICON_PLUS}{@include get-background-svg(icon_plus, color('Color/White'));}
                &#{$ICON_BLANK}{@include get-background-svg(icon_blank, color('Color/White'));}
            }
        }

    }
    &#{$VARIANT_WHITE}{
        background-color: color('Color/White');
        border-color: color('Color/Black 20');
        .b-tx{
            color: color('Color/Black 100');
        }
        .b-suff{
            &#{$ICON_BLANK}{width: rem(20px);height: rem(20px);@include get-background-svg(icon_blank, color('Color/Black 20'));}
        }
        &:not(:disabled):hover{
            background-color: color('Color/Primary Color');
            border-color: color('Color/Primary Color');
            .b-tx{
                color: color('Color/White');
            }
            .b-suff{
                &#{$ICON_BLANK}{@include get-background-svg(icon_blank, color('Color/White'));}
            }
        }
    }
    &#{$VARIANT_PRIMARY}{
        background-color: color('Color/Primary Color');
        border-color: color('Color/Primary Color');
        .b-tx{
            color: color('Color/White');
        }
        &:not(:disabled):hover{
            background-color: color('Color/Secondary Color');
            border-color: color('Color/Secondary Color');
        }
    }
}