@charset 'utf-8';
@use '../abstracts/variables' as *;
@use '../abstracts/_functions' as *;
@use '../abstracts/_mixins' as *;

.bs-icon{
    width: rem(100px);
    height: rem(100px);
    display: inline-flex;
    .v-ic{
        width: 100%;
    }
}