@charset 'utf-8';
@use '../abstracts/variables' as *;
@use '../abstracts/_functions' as *;
@use '../abstracts/_mixins' as *;

$type_1:'[data-type="type_1"]';
$type_2:'[data-type="type_2"]';

.bs-label{
    @include font('Body 14 R');
    padding: rem(4px) rem(20px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(30px);
    &#{$type_1}{
        color: color('Color/Primary Color');
        background-color: color('Color/Black 3');
    }
    &#{$type_2}{
        color: color('Color/Primary Color');
        background-color: color('Color/Blue 10');
    }

}